USE [master]
GO
/****** Object:  Database [Supermercado]    Script Date: 29/06/2023 09:14:46 p. m. ******/
CREATE DATABASE [Supermercado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Supermercado', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Supermercado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Supermercado_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Supermercado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Supermercado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Supermercado]
GO
/****** Object:  Table [dbo].[Entrada]    Script Date: 29/06/2023 09:14:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrada](
	[IDEntrada] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NULL,
	[Cant_entradas] [int] NULL,
	[NroDocCal] [varchar](50) NULL,
	[idSucursal] [int] NULL,
	[IDProveedor] [int] NULL,
	[fecRegProduct] [date] NULL,
 CONSTRAINT [PK_Entrada] PRIMARY KEY CLUSTERED 
(
	[IDEntrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenCompra]    Script Date: 29/06/2023 09:14:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenCompra](
	[nroOrden] [int] IDENTITY(1,1) NOT NULL,
	[fecOrden] [date] NULL,
	[nroCotizacion] [varchar](4) NULL,
	[IDProveedor] [int] NULL,
	[nroReq] [int] NULL,
 CONSTRAINT [PK_Orden] PRIMARY KEY CLUSTERED 
(
	[nroOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESUPUESTO]    Script Date: 29/06/2023 09:14:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESUPUESTO](
	[IdPresupuesto] [int] IDENTITY(1,1) NOT NULL,
	[Factura] [varchar](50) NULL,
	[IDProveedor] [int] NULL,
	[Monto] [float] NULL,
	[MetodoDePago] [varchar](26) NULL,
	[Saldo] [int] NULL,
	[dtp_fecha] [date] NULL,
 CONSTRAINT [PK_Presupuesto] PRIMARY KEY CLUSTERED 
(
	[IdPresupuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 29/06/2023 09:14:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombreProducto] [varchar](30) NULL,
	[Categoria] [varchar](30) NULL,
	[IDProveedor] [int] NULL,
	[stock] [int] NULL,
	[precioProducto] [float] NULL,
	[tamaño] [varchar](30) NULL,
	[FecVencimiento] [date] NULL,
	[estProducto] [bit] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 29/06/2023 09:14:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IDProveedor] [int] IDENTITY(1,1) NOT NULL,
	[RUCProveedor] [varchar](20) NULL,
	[Categoria] [varchar](20) NULL,
	[NombreProveedor] [varchar](100) NULL,
	[FormaPago] [varchar](20) NULL,
	[DireccionProveedor] [varchar](200) NULL,
	[TelefonoProveedor] [varchar](20) NULL,
	[CorreoElectronicoProveedor] [varchar](100) NULL,
	[FechaRegistro] [date] NULL,
	[EstadoProveedor] [bit] NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[IDProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requerimiento]    Script Date: 29/06/2023 09:14:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requerimiento](
	[nroReq] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NULL,
	[cantReq] [int] NULL,
	[fecReq] [date] NULL,
 CONSTRAINT [PK_Requerimiento] PRIMARY KEY CLUSTERED 
(
	[nroReq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salida]    Script Date: 29/06/2023 09:14:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salida](
	[IdSalida] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[idSucursal] [int] NULL,
	[DocSalida] [varchar](50) NULL,
	[FecSalida] [date] NULL,
 CONSTRAINT [PK_Salida] PRIMARY KEY CLUSTERED 
(
	[IdSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 29/06/2023 09:14:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[idSucursal] [int] IDENTITY(1,1) NOT NULL,
	[NombreSucursal] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Pais] [varchar](50) NULL,
	[Departamento] [varchar](50) NULL,
	[Distrito] [varchar](50) NULL,
	[estSucursal] [bit] NULL,
 CONSTRAINT [PK_Sucursal] PRIMARY KEY CLUSTERED 
(
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Entrada] ON 

INSERT [dbo].[Entrada] ([IDEntrada], [idProducto], [Cant_entradas], [NroDocCal], [idSucursal], [IDProveedor], [fecRegProduct]) VALUES (1, 8, 40, N'C00281920', 1, 2, CAST(N'2023-06-29' AS Date))
INSERT [dbo].[Entrada] ([IDEntrada], [idProducto], [Cant_entradas], [NroDocCal], [idSucursal], [IDProveedor], [fecRegProduct]) VALUES (2, 2, 50, N'C00281921', 3, 1, CAST(N'2023-06-29' AS Date))
INSERT [dbo].[Entrada] ([IDEntrada], [idProducto], [Cant_entradas], [NroDocCal], [idSucursal], [IDProveedor], [fecRegProduct]) VALUES (3, 11, 30, N'C00567823', 4, 4, CAST(N'2023-06-29' AS Date))
SET IDENTITY_INSERT [dbo].[Entrada] OFF
GO
SET IDENTITY_INSERT [dbo].[OrdenCompra] ON 

INSERT [dbo].[OrdenCompra] ([nroOrden], [fecOrden], [nroCotizacion], [IDProveedor], [nroReq]) VALUES (2, CAST(N'2023-06-29' AS Date), N'C012', 2, 3)
INSERT [dbo].[OrdenCompra] ([nroOrden], [fecOrden], [nroCotizacion], [IDProveedor], [nroReq]) VALUES (3, CAST(N'2023-06-29' AS Date), N'C013', 8, 1)
INSERT [dbo].[OrdenCompra] ([nroOrden], [fecOrden], [nroCotizacion], [IDProveedor], [nroReq]) VALUES (4, CAST(N'2023-06-29' AS Date), N'C013', 9, 6)
SET IDENTITY_INSERT [dbo].[OrdenCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[PRESUPUESTO] ON 

INSERT [dbo].[PRESUPUESTO] ([IdPresupuesto], [Factura], [IDProveedor], [Monto], [MetodoDePago], [Saldo], [dtp_fecha]) VALUES (1, N'F00256121', 2, 2500, N'Transferencia Bancaria', 4000, CAST(N'2023-06-29' AS Date))
INSERT [dbo].[PRESUPUESTO] ([IdPresupuesto], [Factura], [IDProveedor], [Monto], [MetodoDePago], [Saldo], [dtp_fecha]) VALUES (2, N'F00232341', 1, 3500, N'Transferencia Bancaria', 5000, CAST(N'2023-06-29' AS Date))
INSERT [dbo].[PRESUPUESTO] ([IdPresupuesto], [Factura], [IDProveedor], [Monto], [MetodoDePago], [Saldo], [dtp_fecha]) VALUES (3, N'F00334121', 10, 1200, N'Transferencia Bancaria', 3000, CAST(N'2023-06-29' AS Date))
SET IDENTITY_INSERT [dbo].[PRESUPUESTO] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([idProducto], [nombreProducto], [Categoria], [IDProveedor], [stock], [precioProducto], [tamaño], [FecVencimiento], [estProducto]) VALUES (1, N'PanBlanco Bimbo', N'Productos de panadería y confi', 1, 40, 8.8999996185302734, N'500gr', CAST(N'2023-08-15' AS Date), 1)
INSERT [dbo].[Producto] ([idProducto], [nombreProducto], [Categoria], [IDProveedor], [stock], [precioProducto], [tamaño], [FecVencimiento], [estProducto]) VALUES (2, N'Rapiditas Bimbo', N'Productos de panadería y confi', 1, 30, 6.4000000953674316, N'120gr', CAST(N'2023-08-24' AS Date), 1)
INSERT [dbo].[Producto] ([idProducto], [nombreProducto], [Categoria], [IDProveedor], [stock], [precioProducto], [tamaño], [FecVencimiento], [estProducto]) VALUES (3, N'Bimboletes', N'Productos de panadería y confi', 1, 60, 3.5, N'12gr', CAST(N'2023-08-10' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([IDProveedor], [RUCProveedor], [Categoria], [NombreProveedor], [FormaPago], [DireccionProveedor], [TelefonoProveedor], [CorreoElectronicoProveedor], [FechaRegistro], [EstadoProveedor]) VALUES (1, N'20734038', N'Persona Natural', N'Bimbo S.A.', N'Transferencia Bancar', N'Av. Panderos #56', N'982345675', N'bimbo.ositos@bimbo,pe', CAST(N'2023-06-29' AS Date), 1)
INSERT [dbo].[Proveedor] ([IDProveedor], [RUCProveedor], [Categoria], [NombreProveedor], [FormaPago], [DireccionProveedor], [TelefonoProveedor], [CorreoElectronicoProveedor], [FechaRegistro], [EstadoProveedor]) VALUES (2, N'20763019', N'Persona Juridica', N'Gloria', N'Cheque', N'Av. Vacunos #24', N'912375340', N'gloria.lacteos@gloria.pe', CAST(N'2023-06-29' AS Date), 1)
INSERT [dbo].[Proveedor] ([IDProveedor], [RUCProveedor], [Categoria], [NombreProveedor], [FormaPago], [DireccionProveedor], [TelefonoProveedor], [CorreoElectronicoProveedor], [FechaRegistro], [EstadoProveedor]) VALUES (3, N'20562342', N'Persona Juridica', N'Laive', N'Credito', N'Av. Lactea #23', N'931967465', N'lacteos.laive@laive.pe', CAST(N'2023-06-29' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Requerimiento] ON 

INSERT [dbo].[Requerimiento] ([nroReq], [idProducto], [cantReq], [fecReq]) VALUES (1, 23, 120, CAST(N'2023-06-29' AS Date))
INSERT [dbo].[Requerimiento] ([nroReq], [idProducto], [cantReq], [fecReq]) VALUES (2, 12, 50, CAST(N'2023-06-29' AS Date))
INSERT [dbo].[Requerimiento] ([nroReq], [idProducto], [cantReq], [fecReq]) VALUES (3, 6, 20, CAST(N'2023-06-29' AS Date))
SET IDENTITY_INSERT [dbo].[Requerimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Salida] ON 

INSERT [dbo].[Salida] ([IdSalida], [idProducto], [Cantidad], [idSucursal], [DocSalida], [FecSalida]) VALUES (1, 19, 30, 5, N'S0028912', CAST(N'2023-06-29' AS Date))
INSERT [dbo].[Salida] ([IdSalida], [idProducto], [Cantidad], [idSucursal], [DocSalida], [FecSalida]) VALUES (2, 23, 50, 10, N'S00281517', CAST(N'2023-06-29' AS Date))
INSERT [dbo].[Salida] ([IdSalida], [idProducto], [Cantidad], [idSucursal], [DocSalida], [FecSalida]) VALUES (3, 11, 20, 6, N'S00345689', CAST(N'2023-06-29' AS Date))
SET IDENTITY_INSERT [dbo].[Salida] OFF
GO
SET IDENTITY_INSERT [dbo].[Sucursal] ON 

INSERT [dbo].[Sucursal] ([idSucursal], [NombreSucursal], [Direccion], [Pais], [Departamento], [Distrito], [estSucursal]) VALUES (1, N'Sede Trujillo', N'Av. Larco #433', N'Peru', N'La Libertad', N'Trujillo', 1)
INSERT [dbo].[Sucursal] ([idSucursal], [NombreSucursal], [Direccion], [Pais], [Departamento], [Distrito], [estSucursal]) VALUES (2, N'Sede Victor Larco', N'Av. Los Angeles #51', N'Peru', N'La Libertad', N'Victor Larco', 1)
INSERT [dbo].[Sucursal] ([idSucursal], [NombreSucursal], [Direccion], [Pais], [Departamento], [Distrito], [estSucursal]) VALUES (3, N'Sede Moche', N'Jr. Miguel Grau', N'Peru', N'La Libertad', N'Moche', 1)
SET IDENTITY_INSERT [dbo].[Sucursal] OFF
GO
ALTER TABLE [dbo].[Entrada]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[Entrada]  WITH CHECK ADD FOREIGN KEY([IDProveedor])
REFERENCES [dbo].[Proveedor] ([IDProveedor])
GO
ALTER TABLE [dbo].[Entrada]  WITH CHECK ADD FOREIGN KEY([idSucursal])
REFERENCES [dbo].[Sucursal] ([idSucursal])
GO
ALTER TABLE [dbo].[OrdenCompra]  WITH CHECK ADD FOREIGN KEY([IDProveedor])
REFERENCES [dbo].[Proveedor] ([IDProveedor])
GO
ALTER TABLE [dbo].[OrdenCompra]  WITH CHECK ADD FOREIGN KEY([nroReq])
REFERENCES [dbo].[Requerimiento] ([nroReq])
GO
ALTER TABLE [dbo].[PRESUPUESTO]  WITH CHECK ADD FOREIGN KEY([IDProveedor])
REFERENCES [dbo].[Proveedor] ([IDProveedor])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([IDProveedor])
REFERENCES [dbo].[Proveedor] ([IDProveedor])
GO
ALTER TABLE [dbo].[Requerimiento]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[Salida]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[Salida]  WITH CHECK ADD FOREIGN KEY([idSucursal])
REFERENCES [dbo].[Sucursal] ([idSucursal])
GO
/****** Object:  StoredProcedure [dbo].[InsertarSalida]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarSalida]
(
    @idProducto INT,
    @Cantidad int,
    @idSucursal int,
	@DocSalida varchar(50),
    @FecSalida DATE
)
AS
BEGIN
    INSERT INTO Salida(idProducto, Cantidad, idSucursal,DocSalida, FecSalida)
    VALUES (@idProducto, @Cantidad, @idSucursal,@DocSalida, @FecSalida)
END
GO
/****** Object:  StoredProcedure [dbo].[ListarSalida]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ListarSalida]
AS
BEGIN
    SELECT IdSalida, idProducto, Cantidad, idSucursal, DocSalida, FecSalida
    FROM Salida
	
END
GO
/****** Object:  StoredProcedure [dbo].[spBuscarNroReq]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spBuscarNroReq]
(@prmintnroReq int
)
as
	begin
		select
		req.nroReq,
		req.idProducto,
		prod.nombreProducto,
		req.cantReq,
		req.fecReq
	from Requerimiento req 
	inner join Producto prod 
	on req.idProducto= prod.idProducto 
	where nroReq = @prmintnroReq
	END
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarOrden]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spDeshabilitarOrden]
(@nroOrden int)
as
BEGIN
    DELETE FROM OrdenCompra
    WHERE nroOrden  = @nroOrden;
END;
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarProducto]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[spDeshabilitarProducto]
(@idProducto int
)
as
begin
update Producto set
estProducto = 0
where idProducto = @idProducto
end
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarProveedor]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[spDeshabilitarProveedor]
(@IDProveedor int
)
as
begin
update Proveedor set
EstadoProveedor = 0
where IDProveedor = @IDProveedor
end
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarRequerimiento]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spDeshabilitarRequerimiento]
(@nroReq int
)
as
BEGIN
    DELETE FROM Requerimiento
    WHERE nroReq  = @nroReq ;
END;
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarSucursal]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[spDeshabilitarSucursal]
(@idSucursal int
)
as
begin
update Sucursal set
estSucursal = 0
where idSucursal = @idSucursal
end
GO
/****** Object:  StoredProcedure [dbo].[spDeshabiltarEntradas]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDeshabiltarEntradas]
    @IDEntrada INT
AS
BEGIN
    DELETE FROM Entrada
    WHERE IDEntrada = @IDEntrada;
END;
GO
/****** Object:  StoredProcedure [dbo].[spEditarProducto]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spEditarProducto]
(@idProducto int,
@nombreProducto varchar(30),
@Categoria varchar(30),
@IDProveedor varchar(30),
@stock int,
@precioProducto float,
@tamaño varchar(30),
@FecVencimiento date,
@estProducto bit
)as
begin
    update Producto set
    nombreProducto = @nombreProducto,
    Categoria = @Categoria,
    IDProveedor = @IDProveedor,
    stock = @stock,
	precioProducto = @precioProducto,
    tamaño = @tamaño,
    FecVencimiento = @FecVencimiento,
	estProducto = @estProducto
    where idProducto = @idProducto
end
GO
/****** Object:  StoredProcedure [dbo].[spEditarProveedor]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spEditarProveedor]
(@IDProveedor int,
@RUCProveedor varchar(20),
@Categoria VARCHAR(20),
@NombreProveedor varchar(100),
@FormaPago varchar(20),
@DireccionProveedor varchar(200),
@TelefonoProveedor varchar(20),
@CorreoElectronicoProveedor VARCHAR(100),
@FechaRegistro date,
@EstadoProveedor bit
)as
begin
    update Proveedor set
    RUCProveedor = @RUCProveedor,
	Categoria = @Categoria,
    NombreProveedor = @NombreProveedor,
	FormaPago = @FormaPago,
    DireccionProveedor = @DireccionProveedor,
    TelefonoProveedor = @TelefonoProveedor,
	CorreoElectronicoProveedor = @CorreoElectronicoProveedor,
	FechaRegistro = @FechaRegistro,
    EstadoProveedor = @EstadoProveedor
    where IDProveedor = @IDProveedor
end
GO
/****** Object:  StoredProcedure [dbo].[spEditarSucursal]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spEditarSucursal]
(@idSucursal int,
 @NombreSucursal varchar(50), 
@Direccion varchar(50), 
@Pais varchar(50),
@Departamento varchar(50),
@Distrito varchar(50),
@estSucursal bit
)
as
begin
    update Sucursal set
    NombreSucursal = @NombreSucursal,
    Direccion = @Direccion,
	Pais = @Pais,
	Departamento = @Departamento,
	Distrito = @Distrito,
    estSucursal = @estSucursal
    
    where idSucursal = @idSucursal
end
GO
/****** Object:  StoredProcedure [dbo].[spEliminarPresupuesto]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarPresupuesto]
    @IdPresupuesto INT
AS
BEGIN
    DELETE FROM PRESUPUESTO
    WHERE IdPresupuesto = @IdPresupuesto;
END;
GO
/****** Object:  StoredProcedure [dbo].[spEliminarSalida]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spEliminarSalida]
    @IdSalida INT
AS
BEGIN
    DELETE FROM Salida
    WHERE IdSalida = @IdSalida;
END;
GO
/****** Object:  StoredProcedure [dbo].[spInsertaEntradas]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertaEntradas]
(@idProducto int,
@Cant_entradas nvarchar(50),
@NroDocCal varchar (50),
@idSucursal int,
@IDProveedor int,
@fecRegProduct date
)
as
begin 

    insert into Entrada(idProducto,Cant_entradas,NroDocCal,idSucursal,IDProveedor,fecRegProduct) values
    (@idProducto,@Cant_entradas, @NroDocCal,@idSucursal,@IDProveedor,@fecRegProduct)
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarOrden]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spInsertarOrden]
(@fecOrden date,
@nroCotizacion varchar(6),
@IDProveedor int,
@nroReq int
)
as
	begin
	insert into OrdenCompra(fecOrden,
	nroCotizacion,
	IDProveedor,
	nroReq) values
	(@fecOrden,
	@nroCotizacion,
	@IDProveedor,
	@nroReq
	)end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarPresupuesto]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spInsertarPresupuesto]
    @Factura varchar(50),
    @IDProveedor int,
    @Monto Float,
    @MetodoDePago VARCHAR(26),
    @Saldo int,
    @dtp_fecha Date
AS
BEGIN
    INSERT INTO PRESUPUESTO (Factura, IDProveedor, Monto, MetodoDePago, Saldo, dtp_fecha)
    VALUES (@Factura, @IDProveedor, @Monto, @MetodoDePago, @Saldo, @dtp_fecha);
END;
GO
/****** Object:  StoredProcedure [dbo].[spInsertarProducto]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spInsertarProducto]
(@nombreProducto varchar(30),
@Categoria varchar(30),
@IDProveedor varchar(30),
@stock int,
@precioProducto float,
@tamaño varchar(30),
@FecVencimiento date,
@estProducto bit
)
as
begin
    insert into Producto(nombreProducto,
    Categoria,
    IDProveedor,
    stock,
	precioProducto,
    tamaño,
    FecVencimiento,
	estProducto) values
    (@nombreProducto,
    @Categoria,
    @IDProveedor,
    @stock,
	@precioProducto,
    @tamaño,
    @FecVencimiento,
    @estProducto)
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarProveedor]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spInsertarProveedor]
(@RUCProveedor varchar(20),
@Categoria VARCHAR(20),
@NombreProveedor varchar(100),
@FormaPago varchar(20),
@DireccionProveedor varchar(200),
@TelefonoProveedor varchar(20),
@CorreoElectronicoProveedor VARCHAR(100),
@FechaRegistro date,
@EstadoProveedor bit
)
as
begin
    insert into Proveedor(RUCProveedor,
	Categoria,
    NombreProveedor,
	FormaPago,
    DireccionProveedor,
    TelefonoProveedor,
	CorreoElectronicoProveedor,
	FechaRegistro,
    EstadoProveedor
    ) values
    (@RUCProveedor,
	@Categoria,
    @NombreProveedor,
	@FormaPago,
    @DireccionProveedor,
	
    @TelefonoProveedor,
	@CorreoElectronicoProveedor,
	@FechaRegistro,
    @EstadoProveedor
    )
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarRequerimiento]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spInsertarRequerimiento]
(@idProducto varchar(30),
@cantReq int,
@fecreq date
)
as
begin
	 insert into Requerimiento(idProducto,
	 cantReq,
	 fecreq
	 ) values(@idProducto,
	 @cantReq,
	 @fecReq
	 )
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarSucursal]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spInsertarSucursal]
( 
 @NombreSucursal varchar(50), 
@Direccion varchar(50), 
@Pais varchar(50),
@Departamento varchar(50),
@Distrito varchar(50),
@estSucursal bit
)
as
begin
    insert into Sucursal( 
        NombreSucursal, 
        Direccion,
		Pais,
		Departamento,
		Distrito,
        estSucursal) values
    (@NombreSucursal, 
        @Direccion,
		@Pais,
		@Departamento,
		@Distrito,
        @estSucursal)
end
GO
/****** Object:  StoredProcedure [dbo].[spListaEntradas]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spListaEntradas] 
AS
    SELECT IDEntrada, idProducto, Cant_entradas, NroDocCal, idSucursal, IDProveedor,fecRegProduct
    from Entrada
GO
/****** Object:  StoredProcedure [dbo].[spListaPresupuesto]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spListaPresupuesto]
AS
BEGIN
    SELECT IdPresupuesto, Factura, IDProveedor, Monto, MetodoDePago, Saldo, dtp_fecha
    FROM PRESUPUESTO;
END;
GO
/****** Object:  StoredProcedure [dbo].[spListarOrden]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spListarOrden]
as
	select
		nroOrden,
		fecOrden,
		nroCotizacion,
		IDProveedor,
		nroReq
	From OrdenCompra
GO
/****** Object:  StoredProcedure [dbo].[spListarProducto]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   procedure [dbo].[spListarProducto]
as 
    Select 
        idProducto, 
        nombreProducto, 
        Categoria, 
        IDProveedor,
        stock,
		precioProducto,
        tamaño,
        FecVencimiento,
		estProducto
    FROM Producto
    Where estProducto = '1'
GO
/****** Object:  StoredProcedure [dbo].[spListarProveedor]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spListarProveedor]
as 
    Select 
        IDProveedor, 
        RUCProveedor,
		Categoria,
        NombreProveedor,
		FormaPago,
        DireccionProveedor,
        TelefonoProveedor,
		CorreoElectronicoProveedor,
		FechaRegistro,
        EstadoProveedor
    FROM Proveedor
    Where EstadoProveedor = '1'
GO
/****** Object:  StoredProcedure [dbo].[spListarRequerimiento]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   procedure [dbo].[spListarRequerimiento]
as
	select
		nroReq,
		idProducto,
		cantReq,
		fecReq
	from Requerimiento
GO
/****** Object:  StoredProcedure [dbo].[spListarSucursal]    Script Date: 29/06/2023 09:14:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spListarSucursal]
as 
    Select 
        idSucursal, 
        NombreSucursal, 
        Direccion, 
		Pais,
		Departamento,
		Distrito,
        estSucursal
    FROM Sucursal
    Where estSucursal = '1'
GO
USE [master]
GO
